# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
**/bin/
**/obj/

# Node/Vite
**/node_modules/
**/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example
